@font-face {
  font-family: fonte_sp;
  src: url(imgs/circ.woff);
}

* {
  background-color: #121212;
  font-family: fonte_sp;
  border: none;

}

h1 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
}

.logo_spotify {
  display: flex;
  width: 100px;
  height: 100px;
  padding-bottom: 30px;
  margin-top: 0;
  margin-left: 30px;
}

.login {
  position: relative;
  width: 300px;
  margin: auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.título {
  margin-bottom: 10px;
  position: relative;
  width: 350px;
  color: white;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  font-size: 20px;
  justify-content: start;
}

.dados {
  color: white;
  font-size: 14px;
  margin-top: 50px;
  justify-content: left;
  font-size: 14px;
  text-align: justify;
  display: flex;
}

.input_email {
  margin-bottom: 50px;
}
.input_email,
.input_senha {
  padding-left: 20px;
  color: white;
  border: solid 1px gray;
  border-radius: 3px;
  width: 350px;
  height: 45px;
  display: flex;
}

.botao-avancar{
  width: 374px;
  height: 45px;
  margin-top: 3rem;
}

.avancar {
  width: 374px;
  height: 45px;
  font-size: 15px;
  background-color: rgb(254, 192, 202);
  border-radius: 20px;
}

.botao-voltar{
  width: 374px;
  height: 45px;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voltar{
  width: 374px;
  height: 45px;
  font-size: 15px;
  border-radius: 5px;
  color: #fedae0;
  border: solid 1px gray;
  cursor: pointer;
}

.footer {
  margin-top: 140px;
  display: flex;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footer p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.input_email:hover,
.input_senha:hover {
  border-color: white;
  color: rgb(229, 33, 134);
}

.avancar:hover {
  background-color: #fedae0;
}

.sublinhado {
  text-decoration: underline;
  cursor: pointer;
}

